.tile {
    width: 30%;
    height: 150px;
    font-size: 60px;
    background: rgba(58, 19, 110, 0.568);
    border: 2px solid hotpink;
    display: inline-block;
    float: left;
    text-align: center;
    line-height: 150px;
}