.signIn {
    height: 400px;
    width: 400px;
    justify-content: center;
    margin-left: 100px;
}

.signUp {
    height: 400px;
    width: 400px;
    margin-left: 300px;
}

input {
    margin-left: auto;
    margin-bottom: 3px;
    color: palevioletred;
    background: rgba(25, 25, 112, 0.589);
    border: 1px solid palevioletred;
    height: 35px;
    width: 300px;
}

.forms {
    display: flex;
}
